frontend/.phpunit.cache
frontend/node_modules
frontend/public/build
frontend/public/hot
frontend/public/storage
frontend/storage/*.key
frontend/storage/pail
frontend/vendor
frontend/.env
frontend/.env.backup
frontend/.env.production
frontend/.phpactor.json
frontend/.phpunit.result.cache
frontend/Homestead.json
frontend/Homestead.yaml
frontend/auth.json
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.fleet
frontend/.idea
frontend/.nova
frontend/.vscode
frontend/.zed
/backend/app/deeplearning/__pycache__
/backend/app/deeplearning/env
/backend/app/__pycache__
/backend/app/env
/backend/app/routes/__pycache__